@CHARSET "UTF-8";
body{
	font-size:24px;
	padding:20px;
	justify-content: center; 
	align-items: center;  
	font-family:sans-serif;
	background-color: #fafafa;
	color: #333333;
}

.flex {
	padding:10px,10px,10px, 0px;
	display: flex;
	/* 水平置中 */
	justify-content: center;    
	/* 垂直置中 */
	align-items: center;
	
	
}
fieldset {
	margin:10px;
	height:120px;
	width:200px;
	align-items: center; 
	background: #efeeea;
	
}

.warnning{
	margin:5px;
}


fieldset.red{
	border:4px solid #b22222;
	border-radius: 20px;
	color:#b22222;
}
fieldset.yellow{
	border:4px solid #daa520;
	border-radius: 20px;
	color:#daa520;
}

fieldset.green{
	border:4px solid #556b2f;
	border-radius: 20px;
	color:#556b2f;
}
fieldset.all{
	border:4px solid #efeeea;
	color:#efeeea;
	border-radius: 20px;
	height:160px;
	
}
button{
	margin:10px;
    width: 250px;
    height: 70px;
    display: block;
    text-align: center;
    cursor: pointer;
    color: #333333;
    background-color: transparent;
    transition: all .3s linear;
	font-size:20px;
	
}
button.red{
    border: 4px solid #b22222;
	border-radius: 20px;
}

button.yellow{
    border: 4px solid #daa520;
	border-radius: 20px;
}
button.green{
    border: 4px solid #556b2f;
	border-radius: 20px;
}
button.home{
	width: 150px;
    height: 50px;
    border: 4px solid #daa520;
	border-radius: 20px;
	color: #daa520;
}

button.red:hover{
    background-color: #b22222;
	border: 2px solid #b22222;
    color: #fff;
}
button.red:focus{
    background-color: #b22222;
	border: 2px solid #b22222;
    color: #fff;
}
button.yellow:hover{
    background-color: #daa520;
	border: 2px solid #daa520;
    color: #fff;
}
button.yellow:focus{
    background-color: #daa520;
	border: 2px solid #daa520;
    color: #fff;
}

button.green:hover{
    background-color: #556b2f;
	border: 2px solid #556b2f;
    color: #fff;
}
button.green:focus{
    background-color: #556b2f;
	border: 2px solid #556b2f;
    color: #fff;
}
button.home:hover{
    background-color: #daa520;
	border: 2px solid #daa520;
    color: #fff;
}

.main {
  width: 80%;
  margin: 20px auto;
}
table {
  border-spacing: 0;
  width: 100%;
}
tr {
  text-align: center;
}
th {
  padding: 10px;
}
table tbody tr:nth-child(odd){
  background-color: #eee
}
table thead {
  background-color: #556b2f;
  color: white;
}
table thead th:first-child {
  border-radius: 5px 0 0 0;
  border: 1px solid #556b2f;
}
table thead th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #556b2f;
}
table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tbody tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}


.slider {
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 width:500px;
 height:60px;
 padding:30px;
 padding-left: 40px;
 background:#fcfcfc;
 border-radius:20px;
 display:flex;
 align-items:center;
 box-shadow:0px 15px 40px #7E6D5766;
}

.slider p {
 font-size:26px;
 font-weight:1000;
 font-family: Open Sans;
 padding-left:30px;
 color:#7E6D57;
}
.slider input[type="range"] {
 -webkit-appearance:none !important;
 width:420px;
 height:2px;
 background:#7E6D57;
 border:none;
 outline:none;
}
.slider input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance:none !important;
 width:30px;
 height:30px;
 background:#fcfcfc;
 border:2px solid #7E6D57;
 border-radius:50%;
 cursor:pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
 background:#7E6D57;
}